# это для телеги.
api_id = NNNN
api_hash = XXXX

# это имя собеседника. сберовский бот-рекрутер с кучей вопросов.
sender_username  = Giga_recruiter_bot


deepseek_api_key = sk-a24c6546546546546544345ef44347bf
log_file = D:\me\hh_auto\bot_log.txt

# в секундах время, которое нужно ждать ответа собеседника. если ответ не получен, нужно пнуть его сообщением из retry_message
response_timeout_seconds = 240  

# сколько вобще попыток пнуть собеседника делать. Если он отвалился, то нет смысла его до бесконечности теребить
max_retries = 3

#что посылать собеседнику, если не получен ответ в течение response_timeout_seconds секунд
retry_message = повторите вопрос
